<!doctype html>
<html class="no-js supports-no-cookies" lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="msapplication-tap-highlight" content="no" />
  <meta name="theme-color" content="{{ settings.color_accent }}">
  <link rel="canonical" href="{{ canonical_url }}">

  <link rel="apple-touch-icon" sizes="180x180" href="{{ 'apple-touch-icon.png' | asset_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ 'favicon-32x32.png' | asset_url }}"> 
  <link rel="icon" type="image/png" sizes="16x16" href="{{ 'favicon-16x16.png' | asset_url }}">
  <link rel="manifest" href="{{ 'site.webmanifest' | asset_url }}">
  <link rel="mask-icon" href="{{ 'safari-pinned-tab.svg' | asset_url }}" color="#771806">
  <meta name="apple-mobile-web-app-title" content="Just3guitars">
  <meta name="application-name" content="Just3guitars">
  <meta name="msapplication-TileColor" content="#771806">
  <meta name="theme-color" content="#ffffff">

  {%- capture seo_title -%}
    {{ page_title }}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%}
      &ndash; {{ shop.name }}
    {%- endunless -%}
  {%- endcapture -%}
  <title>{{ seo_title | strip }}</title>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {% include 'social-meta-tags' %}
  {% comment %}google fonts{% endcomment %}
  <link href="https://fonts.googleapis.com/css?family=Cinzel|Spartan:300,400,600,700&display=swap" rel="stylesheet">
  {% comment %}animate.css{% endcomment %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css" integrity="sha256-PHcOkPmOshsMBC+vtJdVr5Mwb7r0LkSVJPlPrp/IMpU=" crossorigin="anonymous" />
  {% comment %}font awesome{% endcomment %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
  {% include 'css-variables' %}
  {{ 'theme.css' | asset_url | | stylesheet_tag }}

  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', '');

    window.theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }}
    };
  </script>


  {{ content_for_header }}
</head>

<body id="{{ page_title | handle }}" class="template-{{ template.name | handle }}">

  {%- comment -%}bar for template remove for production
  <div class="templategiveaway">
    template: {{ template }}.liquid
  </div>
  {%- endcomment -%}
  
  
  {%- comment -%}skip to content for screen readers{%- endcomment -%}
  <a class="sr-only sr-only-focusable" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>
    
  
  {% section 'header' %}
  
  <main role="main" id="MainContent">
    <div class="container-md">
      {{ content_for_layout }}
    </div>
  </main>

  {% section 'footer' %}


{%- comment -%}
added cdn js scripts
{%- endcomment -%}
{%- comment -%} jQuery {%- endcomment -%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

{%- comment -%} scroll magic {%- endcomment -%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js" integrity="sha256-2p2tRZlPowp3P/04Pw2rqVCSbhyV/IB7ZEVUglrDS/c=" crossorigin="anonymous"></script>

{%- comment -%} anime.js {%- endcomment -%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.1.0/anime.min.js" integrity="sha256-98Q574VkbV+PkxXCKSgL6jVq9mrVbS7uCdA+vt0sLS8=" crossorigin="anonymous"></script>

{%- comment -%} site.js{%- endcomment -%}
{{ 'theme.js' | asset_url | script_tag }}

</body>
</html>
