
<footer class='container-md'>
  <div class="row justify-content-center mt-2 pt-2 border-top">
  {%- comment -%}social links{%- endcomment -%}
  <div class="col-10 my-3">
  <div class="row justify-content-around">
    {%- assign social_accounts = 'Facebook, Twitter, Pinterest, Instagram, Snapchat, Tumblr, YouTube, Vimeo,' | split: ', ' -%}
    {% for social in social_accounts %}
      {%- assign social_handle = social | handleize -%}
      {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
      {% capture social_icon %}icon-{{ social_handle }}{% endcapture %}
    
      {% if settings[social_link] != blank %}
        <div>
          <a href="{{ settings[social_link] }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}">
            {% include social_icon %}
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

  {%- comment -%}payment icons{%- endcomment -%}
  {% if section.settings.show_payment_icons %}
    <div class="col-12 my-3">
      {% unless shop.enabled_payment_types == empty %}
        <span class="visually-hidden">{{ 'layout.footer.payment_methods' | t }}</span>
        <ul class="payment-icons">
          {% for type in shop.enabled_payment_types %}
            <li>
              {{ type | payment_type_svg_tag: class: 'icon' }}
            </li>
          {% endfor %}
        </ul>
      {% endunless %}
    </div>
    {% endif %}

  {%- comment -%}footer menu links{%- endcomment -%}
  <div class="col-12 my-3">
    <div class="row justify-content-center">
    {%- assign footer_linklist = section.settings.footer_linklist -%}
    {% if linklists[footer_linklist].links.size > 0 %}
    <nav class='nav flex-column'>
        {% for link in linklists[footer_linklist].links %}
          <a class=' nav-link text-center' href="{{ link.url }}">{{ link.title }}</a>
        {% endfor %}
      </nav>
    {% endif %}
  </div>
</div>



  <div class='col-12 text-center p-2'>
    <small>{{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: '/' }}</small>
  </div>
  

</div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "First menu",
        "default": "footer"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      }
    ]
  }

{% endschema %}
