{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available when you add "Newsletter" section on the Theme Editor.

  Theme Store required settings
  - Heading: title of the newsletter section
  - Subheading: description of the newsletter section
{%- endcomment -%}
<section>
  <div class="row bg-light pt-3">
    
    <div class="col-12">
      {% if section.settings.section_title != blank %}
        <label class='h5' for="Email">{{ section.settings.section_title | escape }}</label>
      {% endif %}
      {% if section.settings.subheading != blank %}
        <p>{{ section.settings.subheading | escape }}</p>
      {% endif %}
    </div>


  {% form 'customer', class: 'form-inline w-100' %}
    {{ form.errors | default_errors }}
    {% if form.posted_successfully? %}
      <p>{{ 'general.newsletter_form.confirmation' | t }}</p>
    {% else %}
    <div class="form-group col-8 pr-0">
      <input type="hidden" name="contact[tags]" value="newsletter">
      <input class='form-control newsletter_input'
        type="email"
        name="contact[email]"
        id="Email"
        value="{% if customer.email != blank %}{{ customer.email }}{% endif %}"
        placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
        autocorrect="off"
        autocapitalize="off">
      </div>
      <div class="form-group col-4 pl-0">
      <button class='newsletter_btn btn btn-primary btn-block rounded-right' type="submit" name="commit" id="Subscribe">
        <span>{{ 'general.newsletter_form.submit' | t }}</span>
      </button>
    </div>
    {% endif %}
  {% endform %}
</div>
</section>

{% schema %}
  {
    "name": "Newsletter",
    "settings": [
      {
        "type": "text",
        "id": "section_title",
        "label": "Heading",
        "default": "Subscribe to our newsletter"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading",
        "default": "A short sentence describing what someone will receive by subscribing"
      },
      {
        "type": "paragraph",
        "content": "Any customers who sign up will have an account created for them in Shopify. [View customers](/admin/customers?query=&accepts_marketing=1)"
      }
    ],
    "presets": [{
      "name": "Newsletter",
      "category": "Promotional"
    }]
  }
{% endschema %}
