<section data-section-id="{{ section.id }}" data-section-type="product">




  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}



  <div class="row product_main">

    <div class="col-12 col-lg-6 order-lg-1 product_main_header text-center">
      <h1>{{ product.title }}</h1>
      <p class='product_main_price d-lg-none'>{{ current_variant.price | money }}</p>
      <hr>
    </div>


    <div class="col-12 col-md-6 order-lg-3 px-md-0 position-relative product_main_featured_img_wrap">

      <div class="loading-spinner justify-content-center align-items-center position-absolute">
        <i class="fas fa-record-vinyl animated rubberBand infinite"></i>
      </div>


      <img class='product_main_featured_img' src="{{ product.featured_image | img_url: '1600x1600' }}" alt="">



    </div>


    <div class="col-12 col-md-6 order-lg-4 px-md-0 product_main_imgs">
      <div class="row row-cols-3 no-gutters">
        {% if product.images.size > 1 %}
        {% for image in product.images offset:1 %}
        <div class='col product_main_sub_img_wrap'>
          {%comment%}<a href="{{ image.src | img_url: 'large' }}" data-thumbnail-id="{{ image.id }}"
            data-product-single-thumbnail{% if featured_image == image %} aria-current="true" {% endif %}>{%endcomment%}
            <img class="product-single__thumbnail-image product_main_sub_img" src="{{ image.src | img_url: '160x160' }}"
              data-largesrc="{{ image.src | img_url: '1600x1600' }}" alt="{{ image.alt | escape }}">
          {%comment%}</a>{%endcomment%}
        </div>
        {% endfor %}
        {% endif %}

      </div>
    </div>

    <div class="col-6 offset-3 my-3 order-lg-5">
    {% if section.settings.show_share_buttons %}
      {% include 'article-social-sharing' %}
      {% endif %}
    </div>

    <div class="col-12 order-lg-6 product_main_description mt-4 mb-3">
      <div class="row">
        <div class="col-12 product_description" data-description='{{product.id}}'>{{ product.description }}</div>
        <div class="col-12 text-center">
          <hr class='hr-dashed mb-2'>
          <span class='product_description_more' data-more='{{ product.id }}'>
            <span class='moreLess d-block'>more</span>
            <i class="far fa-arrow-alt-circle-down d-block"></i>
          </span>
        </div>
      </div>
    </div>


    <div class="col-12 col-lg-6 order-lg-2 product_main_form my-3 py-3 bg-warning">
      {% form 'product', product, data-product-form: '', data-product-handle: product.handle, data-enable-history-state: 'true' %}
      <input type="hidden" id="Quantity" name="quantity" value="1">
      <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
      <div class="row align-items-center h-100">
        <div class="col-6 text-center">
          <h5 class='mb-0 font-weight-bold' data-product-price>{{ current_variant.price | money }}</h5>
        </div>
        <div class="col-6">
          <button class='btn btn-primary btn-block' type="submit" name="add" data-submit-button
            {% unless current_variant.available %}disabled="disabled" {% endunless %}>
            <span data-submit-button-text>
              {% if current_variant.available %}
              {{ 'products.product.add_to_cart' | t }}
              {% else %}
              {{ 'products.product.sold_out' | t }}
              {% endif %}
            </span>
          </button>
        </div>
      </div>
      {% endform %}
    </div>

  </div>



</section>

{% schema %}
{
"name": "Product pages",
"settings": [
{
"type": "checkbox",
"id": "show_share_buttons",
"label": "Show social sharing buttons",
"default": true
}
]
}
{% endschema %}