<article role="article">
  <div class="row">

    <div class="col-12 col-lg-8">
      <div class="row">

        <div class="col-12 order-lg-1">
          <h3 class="text-center text-lg-left d-md-none">{{ article.title }}</h3>
          {% include 'article-author-date' %}
        </div>

        {% if settings.social_sharing_blog %}
        <div class="col-6 offset-3 offset-lg-1 order-lg-4 mt-2 mb-lg-5">
          {% include 'article-social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image %}
        </div>
        {% endif %}

        <div class="col-12 order-lg-2">
          <hr>
        </div>

        <div class="article_content col-12 order-lg-3 mb-5 mb-lg-2">
          {{ article.content }}
        </div>

      </div>
    </div>



    <div class="d-none d-lg-block col-lg-4 bg-light">

      {%- comment -%} include product blocks here {%- endcomment -%}

    </div>




  </div>
</article>













<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Article",
  "articleBody": "{{ article.content | strip_html }}",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ shop.url }}{{ page.url }}"
  },
  "headline": "{{ article.title }}",
  {% if article.excerpt != blank %}
    "description": "{{ article.excerpt | strip_html }}",
  {% endif %}
  {% if article.image %}
    {% assign image_size = article.image.width | append: 'x' %}
    "image": [
      "https:{{ article | img_url: image_size }}"
    ],
  {% endif %}
  "datePublished": "{{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' }}",
  "dateCreated": "{{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' }}",
  "author": {
    "@type": "Person",
    "name": "{{ article.author }}"
  },
  "publisher": {
    "@type": "Organization",
    {% if settings.share_image %}
      {% assign image_size = settings.share_image.width | append: 'x' %}
      "logo": {
        "@type": "ImageObject",
        "height": "{{ settings.share_image.height }}",
        "url": "https:{{ settings.share_image | img_url: image_size }}",
        "width": "{{ settings.share_image.width }}"
      },
    {% elsif article.image %}
      {% assign image_size = article.image.width | append: 'x' %}
      "logo": {
        "@type": "ImageObject",
        "height": "{{ article.image.height }}",
        "url": "https:{{ article.image | img_url: image_size }}",
        "width": "{{ article.image.width }}"
      },
    {% endif %}
    "name": "{{ shop.name }}"
  }
}
</script>