{% paginate blog.articles by 5 %}

{%- assign blog_title = blog.title -%}


<div class="row">

  <div class="col-12">
    <h1 class="section-title text-center">{{ blog_title }}</h1>
  </div>

  {% for article in blog.articles %}

  <div class="col-12 col-md-6 col-lg-12 mb-3">
    <div class="card h-100">
      <div class="row no-gutters">
        <div class="blog_article_img_wrap col-12 col-lg-4">
          {% if article.image %}
          <a href="{{ article.url }}">
            <img class='card-img blog_article_img rounded-0' src="{{ article.image | img_url: 'large' }}"
              alt="{{ article.title }}}">
          </a>
          {% endif %}
        </div>

        <div class="col-12 col-lg-8">
          
          <div class="card-body">

            <h3 class="card-title text-center text-lg-left">
              <a href="{{ article.url }}">{{ article.title }}</a>
            </h3>

            {% include 'article-author-date' %}

            <hr>

            <div class="card-text mb-3">
              {% if article.excerpt.size > 0 %}
              {{ article.excerpt | | truncate: 100, '...' }}
              {% else %}
              <p>
                {{ article.content | strip_html | truncatewords: 100, '...' }}
              </p>
              {% endif %}
            </div>

          </div>

          <div class="card-footer bg-transparent border-0">
            {% include 'article-keep-reading' %}
          </div>



        </div>
      </div>
    </div>
  </div>
  {% endfor %}

</div>

{% if paginate.pages > 1 %}
{% include 'pagination' %}
{% endif %}

{% endpaginate %}