<div class="row">

  {% paginate collection.products by 12 %}


  <div class="col-12 mb-3">
    <h1 class="text-center">{{ collection.title }}</h1>

    {% if collection.description != blank %}
    <p>{{ collection.description}}</p>
    {% endif %}
    <hr>
  </div>



  <div class="col-12">
    <div class="row">

      {% for product in collection.products %}
      <div class="col-12">
        <div class="card mb-3">
          {% if product.featured_image != blank %}
          <a href="{{ product.url | within: collection }}">
            <img class='card-img-top' src="{{ product.featured_image | img_url: 'large' }}" alt="{{ product.title }}">
          </a>
          {% endif %}

          <div class="card-body">
            <h5 class='text-center'>
              <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
            </h5>

            {% unless product.available %}
              <p>
              {{ 'products.product.sold_out' | t }}
            </p>
              {% endunless %}
              
              
              <div class="col-6 offset-3">
                {% include 'article-social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
              </div>
              
            </div>

          <div class="card-footer bg-warning">
            {% form 'product', product, data-product-form: '', data-product-handle: product.handle, data-enable-history-state: 'true' %}
            <input type="hidden" id="Quantity" name="quantity" value="1">
            <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
            <div class="row align-items-center">
              <div class="col-6 text-center">
                <h5 class='mb-0 font-weight-bold' data-product-price>{{ product.price | money }}</h5>
              </div>
              <div class="col-6">
                <button class='btn btn-primary btn-block' type="submit" name="add" data-submit-button
                  {% unless product.available %}disabled="disabled" {% endunless %}>
                  <span data-submit-button-text>
                    {% if product.available %}
                    {{ 'products.product.add_to_cart' | t }}
                    {% else %}
                    {{ 'products.product.sold_out' | t }}
                    {% endif %}
                  </span>
                </button>
              </div>
            </div>
            {% endform %}

          </div>


        </div>
      </div>
      {% endfor %}
    </div>
  </div>






  {% if paginate.pages > 1 %}
  {% include 'pagination' %}
  {% endif %}
  {% endpaginate %}


</div>